div {
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}

video {
  width: 80vw;
}

form {
  padding: 20px;
  margin: 20px;
  font-size: 30px;
  top: 0;
  left: 0;
  height: 25px;
  background-color: #eee;
}